---
layout: page
type: article
---

{%- include snippets/assign.html
  target = site.data.variables.default.page.sharing
  source0=layout.sharing source1=page.sharing -%}
{%- assign _sharing = __return -%}

<div class="layout--article">
  <script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "BlogPosting",
    "headline": {{ page.title | jsonify }},
    "description": {{ page.subtitle | default: page.excerpt | strip_html | strip_newlines | truncate: 160 | jsonify }},
    "datePublished": "{{ page.date | date_to_xmlschema }}",
    "dateModified": "{{ page.last_modified_at | default: page.date | date_to_xmlschema }}",
    "author": {"@type": "Person", "name": "Bora Kang", "url": "{{ site.url }}/about/"},
    "publisher": {"@type": "Person", "name": "Bora Kang"},
    "mainEntityOfPage": "{{ site.url }}{{ page.url }}",
    {%- assign _kw = page.tags | default: empty_arr -%}
    {%- if page.internal_tags -%}{%- assign _kw = _kw | concat: page.internal_tags -%}{%- endif -%}
    {%- if _kw.size > 0 -%}"keywords": {{ _kw | join: ", " | jsonify }},{%- endif -%}
    "inLanguage": "ko-KR"{% if page.hero_image %},
    "image": "{{ site.url }}{{ page.hero_image }}"{% endif %}
  }
  </script>
  {%- include article/top/custom.html -%}

  <div class="article__content" itemprop="articleBody">{{ content }}</div>

  {%- assign _cat = page.categories[0] -%}
  {%- case _cat -%}
    {%- when 'work' -%}{%- assign _cat_label = 'Work' -%}{%- assign _cat_url = '/work/' -%}
    {%- when 'mind' -%}{%- assign _cat_label = 'Mental' -%}{%- assign _cat_url = '/mind/' -%}
    {%- when 'life' -%}{%- assign _cat_label = 'Life' -%}{%- assign _cat_url = '/life/' -%}
    {%- when 'forge' -%}{%- assign _cat_label = 'Resource' -%}{%- assign _cat_url = '/forge/' -%}
    {%- else -%}{%- assign _cat_label = nil -%}
  {%- endcase -%}
  <div class="yb-endmeta">
    <div><span>Last updated</span><b>{{ page.date | date: "%Y. %-m. %-d" }}</b></div>
    {%- if _cat_label -%}
    <div><span>Category</span><b><a href="{{ _cat_url | relative_url }}">{{ _cat_label }}</a></b></div>
    {%- endif -%}
    {%- if page.tags.size > 0 -%}
    <div class="yb-endmeta__tagcol"><span>Tag</span>
      <div class="yb-wftags">
        {%- for _tag in page.tags -%}
        <a class="yb-wftag" href="{{ '/archive/' | relative_url }}?tag={{ _tag | url_encode }}">{{ _tag }}</a>
        {%- endfor -%}
      </div>
    </div>
    {%- endif -%}
  </div>

  <div class="yb-author">
    <img class="yb-author__avatar" src="{{ '/assets/images/logo/logo.svg' | relative_url }}" alt="Bora Kang">
    <div class="yb-author__body">
      <div class="yb-author__label">Written by</div>
      <div class="yb-author__name">Bora Kang</div>
      <p class="yb-author__bio">그로스 컨설턴트, 두 아이의 엄마. 일과 마음에서 건진 것들을 기록합니다.</p>
    </div>
    <div class="yb-author__actions">
      <a class="yb-author__btn" href="{{ '/about/' | relative_url }}">About</a>
      <a class="yb-author__btn yb-author__btn--primary" href="{{ '/feed.xml' | relative_url }}">구독</a>
    </div>
  </div>

  {%- if _sharing -%}
    <section class="article__sharing d-print-none">{%- include sharing.html -%}</section>
  {%- endif -%}

  <div class="d-print-none">
    {%- include article-footer.html -%}
    {%- include article-section-navigator.html -%}
  </div>

</div>

<script>
  {%- include scripts/article.js -%}
</script>
